.popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
    z-index: 1000; /* High z-index to be on top */
}

.popup {
    background-color: #f7f3f0;
    border-radius: 30px;
    padding: 25px 20px;
    text-align: center;
    max-width: 90%;
    border: 2px solid black;
}

.msg-text {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.dismiss-btn, .action-btn {
    background-color: #f7f3f0; /* Adjust button color as needed */
    color: black;
    font-size: 14px;
    border: 1.5px solid black;
    padding: 5px 15px;
    border-radius: 100px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    margin-top: 5px;
    margin-bottom: -15px;
}

.close-btn {
    background-color: #f7f3f0; /* Adjust button color as needed */
    color: black;
    font-size: 14px;
    border: 1.5px solid black;
    padding: 5px 10px;
    border-radius: 100px;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    margin-top: -80px;
    margin-left: 5px;
    margin-right: 27px;
    left: 0;
    position: relative;
}

.profile-content {
    max-height: 500px;
    background-color: #f7f3f0;
    overflow-y: auto;
}