
.meetup-header {
    display: flex;        /* Enables flexbox layout */
    align-items:flex-start;  /* Vertically centers the items in the container */
    justify-content: flex-start; /* Aligns items to the start of the container */
    padding: 0.8em 1em;       /* Add some padding around */
    font-family: 'Poppins', sans-serif;
    font-size: large;
    font-weight: 700;
}

.back-run {
    border-radius: 50%;
    border-color: black;
}

.host-info {
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.event-info-container {
    display: flex;
    justify-content: space-between;
}

.event-info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 50%;
    margin-bottom: 0.8em;
}

.event-info-specific {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 600;
    text-align: left;
    margin-left: 1em;
    margin-top: -5px;
}

.event-info-dt {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 600;
    text-align: left;
    margin-right: 125px;
}

.event-info-details {
    display: flex;
    justify-content: space-between;
    margin: 0 1em;
}

.event-date, .event-time {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-color: black;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 1em;
    padding: 0.5em;
    font-size: medium;
    text-align: left;
    margin-right: 15px;
    margin-bottom: 0.8em;
    flex: 1;
    width: 150px;
}

.event-desc {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    border-color: black;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0 1em;
    font-size: medium;
    text-align: left;
    margin-bottom: 0.8em;
    /* border-radius: ; */
}

.abutton {
    background-color: #1f47cd;
    color: white;
    border-radius: 1em;
    font-size: medium;
    border: none;
    padding: 0.5em 1em;
    
}

.participation-box-event {
    font-size: 13px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 2px 11px;
    margin-left: -25px;
    margin-right: 17px;
}

.question {
    border-radius: 1em;
    border-style: solid;
    border-color: black;
    padding: 0.5em 1em;
    margin: 0.5em 1em 0.5em 0em;
    width: 65%
}

.qa-list {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    list-style: none;
    text-align: left;
    background-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 1em;
    padding: 0.5em;
    margin: 0 1em;
    text-align: left;
    margin-bottom: 0.8em;
}
