/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One:wght@300;400;500;600;700&display=swap');

.App-title {
  text-align: right;
  font-family: 'Yeseva One', serif;
}

.App-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #f7f3f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: black;
}

.App-body {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #f7f3f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5vh;
  font-size: 30px;
  color: black;
  margin-top: 15px;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover; /* Adjust background size as needed */
  z-index: 0; 
  overflow: hidden
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.popup {
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px; 
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  z-index: 1; 
}

.button {
    background-color: #1f47cd;
    border: none;
    color: white;
    width: 300px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 18px;
    z-index: 1;
    position: relative;
  }

  .custom-dropdown {
    border: none;
    background-color: #f7f3f0;
    font-weight: 500;
    color: black;
    
  }

  .custom-host-box {
    border: 1.5px black solid;
    background-color: white;
    font-weight: 300;
    color: black;
    font-size: 20px;
    border-radius: 10px; 
    padding: 8px;
    width:40vh
  }

  .custom-cap-box {
    border: 1.5px black solid;
    background-color: white;
    font-weight: 300;
    color: black;
    font-size: 20px;
    border-radius: 10px; 
    padding: 8px;
    width:100px
  }

  .landing-outline-box {
    display:flex;
    width: 300px;
    padding: 5px;
    border-radius: 15px; 
    background: transparent; /* Make the interior of the box transparent */
  }

  .event-card {
    display:flex;
    width: 350px;
    padding: 5px;
    border-radius: 15px; 
    background: white; 
    border: 1.5px solid black;
    padding: 5px;
    padding-top: 0;
    margin: 5px;
    /* justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
  }

  .cap-box {
    display:flex;
    width: 300px;
    background: transparent; /* Make the interior of the box transparent */
  }

  .s-card {
    border: none;
    color: white;
    width: 150px;
    height: 100px; 
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 18px;
    z-index: 1;
    position: relative;
    font-weight: 500; 
  }

  .header-status {
    font-family: 'Poppins', sans-serif;
    font-weight: 700; 
    text-align: left;
    font-size: 30px;
    margin-top:3vh;
    margin-right: 150px; 
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .text-left {
    font-weight: 500; 
    text-align: left;
    font-size: 32px;
    margin-right: 100px;
  }
  
  .text-right {
    text-align: right;
    font-family: 'Yeseva One', serif;
    margin-left: 100px;
    font-size: 40px;
  }

  .nav-bar {
    display:flex;
    background: white;
    border-top: 1.5px solid  black;
    padding-bottom: 15px;
    padding-top: 15px;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    align-items: center;
  }
  
  .nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    background-color: #1f47cd; /* Bootstrap primary button color */
    color: white;
    border: 1px solid black;
    border-radius: 100px;
    font-size: 14px;
  }
  
  .nav-button img {
    height: 25px;
    margin-right: 5px;
    filter: invert(100%);
  }
  
  .nav-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; /* make the background transparent or any color */
    border: none; /* remove borders if you don't need them */
    cursor: pointer; /* changes the mouse pointer on hover */
    text-align: center;
  }

