/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One:wght@300;400;500;600;700&display=swap');


/* Styles for screens smaller than 600px */
@media (max-width: 375px) {
  body {
    width: 375px; /* Set the body width */
    margin: 0 auto; /* Center the content horizontally */
    background-color: #f7f3f0; /* Optional: Set a background color */
  }
}

.App-title {
  text-align: right;
  font-family: 'Yeseva One', serif;
}

.App-header {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  background-color: #f7f3f0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  color: black;
}

.background-image {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover; /* Adjust background size as needed */
  z-index: 0; 
}

.button {
    background-color: #1f47cd;
    border: none;
    color: white;
    width: 300px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 18px;
    z-index: 1;
    position: relative;
  }

  .outline-box {
    display:flex;
    width: 300px;
    padding: 5px;
    border-radius: 15px; /* Add padding to create space between the text and the outline */
    background: transparent; /* Make the interior of the box transparent */
  }

  .card {
    /* background-color: #1f47cd; */
    border: none;
    color: white;
    width: 150px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    font-size: 20px;
    border-radius: 18px;
    z-index: 1;
    position: relative;
    font-weight: 500; 
  }


  .header-status {
    font-weight: 700; 
    text-align: left;
    font-size: 30px;
    margin-right: 150px; /* Add margin to separate from other elements */
  }
  
  .text-left {
    font-weight: 500; 
    text-align: left;
    font-size: 32px;
    margin-right: 100px; /* Add margin to separate from other elements */
  }
  
  .text-right {
    text-align: right;
    font-family: 'Yeseva One', serif;
    margin-left: 100px;
    font-size: 40px;
  }
